# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Others
*.pdf
!Memoria.pdf
*.sln
Kruskal/Kruskal/completo5000
Kruskal/Kruskal/completo4000
Entregable/Ficheros de grafos/completo4000
Entregable/Ficheros de grafos/completo5000
*.zip
